RewriteEngine On
RewriteBase /andre/

RewriteRule ^admin(/.*)?$ backend/www/index.php/$1 [L,NC]
#RewriteRule ^admin(/.*)?$ backend/www/$1 [NC,L,R]

RewriteCond %{REQUEST_URI} !/(frontend|backend)/ [NC]
#RewriteRule ^(.*)$ frontend/www/index.php$1 [L]
RewriteRule ^(.*)?$ frontend/www/index.php/$1 [L,NC]